# PostgreSQL + pgvector pour Athena
version: '3.1'

services:

  db:
    image: ankane/pgvector:latest  # PostgreSQL 16 + pgvector
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: athenauser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: athena
    volumes:
      - postgres-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  postgres-data:
