body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 3rem;
}

#logo {
  width: 140%;
  margin-left: -20%;
  margin-bottom: 50px;
}

#store-container {
  display: flex;
  justify-content: space-evenly;
}

.store-logo {
  max-width: 200px;
  max-height: 200px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  padding: 1rem;
  border-radius: 21px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.store-logo:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.22);
}

h1 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: #333333;
}

p {
  color: #000000;
}

a {
  color: #b04616;
}

#intro-container {
  position: relative;
}

blockquote {
  position: absolute;
  top: 67%;
  left: 32%;
  width: 50%;
  font-style: italic;
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 450px) {
  blockquote {
    top: 60%;
    left: 0%;
    width: 100%;
    margin-left: 0;
    font-size: 0.7rem;
    text-align: justify;
  }

  .store-logo {
    max-width: 30vw;
    max-height: 30vw;
  }
}
